@{
    ViewBag.Title = "Quienes somos";
}
<h2>@ViewBag.Title.</h2>

<p>    
   
    <h2> Quienes Somos </h2>
    Somos una empresa de logística de trasporte de mercancías a nivel mundial. Poseemos todas las herramientas para poder manejar sus paquetes y/o mercancías desde el origen hasta su destino final.
    No importa donde se encuentre o que es lo que desea traer o enviar, con BMCargo es posible, pues contamos con oficinas comerciales en todo el mundo y sucursales propias en República Dominicana, Miami, Panamá, Colombia, México y Costa Rica.
    Además de ofrecerles una amplia gama de servicios, las mejores tarifas del mercado y un personal altamente capacitado que le dará la solución perfecta para el trasporte de su mercancía.
    No queremos ser una empresa más en el listado de sus suplidores, queremos ser su socio estratégico en el transporte de su mercancía.
    <h2> Filosofía </h2>
    <h4>Misión</h4>
    Proveer servicios de transporte y logística de mercancías de la más alta calidad, comprometiéndonos a brindar cobertura a nivel mundial excediendo las expectativas de nuestros clientes en cuanto al tiempo de entrega.
    <h4>Visión</h4>
    Ser la empresa de transporte de mercancías de mayor éxito y reconocimiento del mundo.
    <h4>Valores</h4>
        • Responsabilidad
        <br />
        • Trabajo en equipo
        <br />
        • Honestidad
        <br />
        • Innovación
        <br />
        • Lealtad
        <br />
        • Excelencia en el servicio 
    
</p>
